{
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "react"
  ],
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "rules": {
    "comma-dangle": 0,
    "no-useless-escape": 2
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "15.4.2"
    }
  },
  "parser": "babel-eslint",
}